---
layout: default
title: Componitor
---

<div class="jumbotron">
  <h1>Componitor</h1>
  <p>Simple directive generation for web component -like templates to encourage reuse in AngularJS</p>
  <a href="{{site.download_url}}" class="btn btn-primary" download="componitor.js">
    <i class="fa fa-download"></i>
    Download it here (v. {{site.componitor_version}})
  </a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <h2>Reuse</h2>
      <p>Easily create reusable directives for, e.g., layouts and ui components not needing complex logic</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Reduce</h2>
      <p>Reduce repetition of html fragments to encourage the DRY principle. Easily add WAI-ARIA attributes to
         common components without having to type them every time.</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Lazy-load</h2>
      <p>Create layout directives just-in-time by calling <kbd>Componitor.process()</kbd> on a piece of html</p>
    </div>
  </div>

  {% raw %}
  <div ng-app="examples">
    <h2>Demo <small>Bootstrap progress bar</small></h2>

    <div class="row"> 
      <div class="well col-lg-12 col-md-12">
        <div ng-controller="ProgressCtrl as ctrl">
          <bs-progress values="ctrl.progress"></bs-progress>
          <button class="btn btn-primary" ng-click="ctrl.randomize()">
            Randomize values
          </button>
        </div>
        
        <componitor-template name="bsProgress" isolate="true" style="display:none;">
          <div class="progress">
            <bs-bar values="{type: 'success', value: values.success}"></bs-bar>
            <bs-bar values="{type: 'warning', value: values.warning}"></bs-bar>
          </div>
        </componitor-template>
        <componitor-template name="bsBar" isolate="true" style="display: none;">
          <div class="progress-bar progress-bar-{{values.type}}"
            style="width: {{values.value}}%"
            aria-valuenow="{{values.value}}" aria-valuemin="0" aria-valuemax="100">
            <span>{{values.value}}%</span>
          </div>
        </componitor-template>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6" ng-non-bindable>
        <h4>Usage</h4>
<pre>&lt;div ng-controller="ProgressCtrl as ctrl"&gt;
  &lt;bs-progress values="ctrl.progress"&gt;&lt;/bs-progress&gt;
  &lt;button class="btn btn-primary" ng-click="ctrl.randomize()"&gt;
    Randomize values
  &lt;/button&gt;
&lt;/div&gt;</pre>
        <h4>Template</h4>
<pre>&lt;componitor-template name="bsProgress" isolate="true" &gt;
  &lt;div class="progress"&gt;
    &lt;bs-bar values="{type: 'success', value: values.success}"&gt;
    &lt;/bs-bar&gt;
    &lt;bs-bar values="{type: 'warning', value: values.warning}"&gt;
    &lt;/bs-bar&gt;
  &lt;/div&gt;
&lt;/componitor-template&gt;
&lt;componitor-template name="bsBar" isolate="true" &gt;
  &lt;div class="progress-bar progress-bar-{{values.type}}"
      style="width: {{values.value}}%"
      aria-valuenow="{{values.value}}"
      aria-valuemin="0" aria-valuemax="100"&gt;
    &lt;span&gt;{{values.value}}%&lt;/span&gt;
  &lt;/div&gt;
&lt;/componitor-template&gt;</pre>
      </div>
      <div class="col-md-6 col-lg-6" ng-non-bindable>
        <h4>JavaScript</h4>
        <pre>
angular.module('examples', ['componitor'])
  .controller('ProgressCtrl', function() {
    this.progress = {
      success: 40,
      warning: 20
    };
    function randomInt(maxVal) {
      return Math.round(Math.random()*maxVal);
    }
    this.randomize = function() {
      this.progress.success = randomInt(100);
      this.progress.warning = randomInt(100-this.progress.success);
    };
  });</pre>
      </div>
    </div>
  </div>
  {% endraw %}


  <div class="row">
    <div>
      <h2>License</h2>
      <a href="http://opensource.org/licenses/MIT">
        MIT License
      </a>
    </div>
  </div>
</div>

<script src="https://code.angularjs.org/1.2.16/angular.js"></script>
<script src="{{site.download_url}}"></script>
<script>
  angular.module('examples', ['componitor'])
    .controller('ProgressCtrl', function() {
      this.progress = {
        success: 40,
        warning: 20
      };
      this.randomize = function() {
        this.progress.success = Math.round(Math.random()*100);
        this.progress.warning = Math.round(Math.random()*(100 - this.progress.success));
      };
    });
</script>

